@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  padding: 0 80px;
  font-family: "Poppins", serif;
  margin: 0 auto;
}
h1 {
  font-size: 3rem;
  line-height: 4rem;
}

:root {
  --pri-c: #e02c6d;
  --sec-c: #0a0826;
  --dark-1: #3a3a3a;
  --dark-2: #18191f;
  --dark-3: rgba(0, 0, 0, 0.87);
  --dark-4: #787885;
  --dark-5: rgba(94, 99, 102, 1);
  --dark-6: #6c6c6c;
}

/* ===== Common Designs ===== */
.btn {
  background-color: var(--pri-c);
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  padding: 0.8rem 2rem;
  margin-top: 1rem;
}
.primary-btn {
  border-radius: 2rem;
}

/* ===== Navigation section ===== */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.nav-links ul {
  display: flex;
  gap: 2rem;
}
.nav-links li {
  list-style: none;
}
.nav-links li a {
  text-decoration: none;
  color: var(--dark-1);
  font-weight: 500;
  font-size: 1rem;
}

/* ===== Hero Section ===== */
.hero-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
  padding-top: 4rem;
}
.hero-left p {
  margin: 16px 0;
  width: 85%;
}
.hero-right {
  text-align: center;
}
.hero-right .bg-img {
  text-align: center;
  z-index: -1;
  position: absolute;
}

/* ===== Company Logos ===== */
.company-logos {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 2rem 4rem;
  align-items: center;
  margin-top: 6rem;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

/* ===== popular-collection ===== */
.popular-collection {
  margin-top: 6rem;
  padding: 0 3rem;
}
.section-heading {
  padding-bottom: 3rem;
  text-align: center;
}
.section-heading h2 {
  font-size: 1.8rem;
  font-weight: 600;
}
.pc-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.pc-card {
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.pc-card img {
  width: 100%;
}
.pc-card h3 {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--dark-2);
}
.pc-card h4 {
  font-family: "Inter", serif;
  font-size: 1.8rem;
  font-weight: 300;
  margin: 8px 0;
  color: var(--dark-3);
}
.rating {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  font-family: "Roboto", serif;
  font-size: 0.8rem;
  margin-bottom: 8px;
  color: var(--dark-6);
  font-weight: 600;
}
.star i {
  color: #fb8200;
}
.pc-card p {
  color: var(--dark-4);
  font-family: "Inter", serif;
}
.see-more {
  color: var(--pri-c);
  font-size: 1rem;
  font-weight: 700;
  text-align: right;
  padding-top: 3rem;
}
